[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pymongo = "*"
pyyaml = "*"
flask-jwt-extended = "*"
msrestazure = "*"
azure-mgmt-compute = "==21.0.0"

[dev-packages]

[requires]
python_version = "3.9"
